.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--main-green-color);
    margin-bottom: 1rem;
}
.bg {
    background-color: rgba(128, 128, 128, 0.5
    );
}